[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask = "*"
authlib = "*"
requests = "*"
flask-mail = "==0.9.1"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
