* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #f8f9fb;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Block*/
.header {
    background: #314478;
    padding: 5px 30px 20px 50px;
}

.header-container {
    max-width: 1500px;
    margin: auto;
}

/*NavBar Menu*/
.pure-menu-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;          
    width: 100%;
}

/*Logo and Website Name*/
.brand {
    display: flex;
    align-items: center; 
    text-decoration: none;
}

.logo-img {
    height: 50px;   
    margin-right: 0.5rem;
}

.brand-text {
    font-size: 1.2rem;
    font-weight: 550;
    color: #e8eaef;
    line-height: 1; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}

/* Menu*/
.pure-menu-list {
    display: flex;
    align-items: flex-end; 
    gap: 1.8rem;
}

.pure-menu-link {
    color: #e8eaef;
    padding: 1.5rem 1.2rem 0.2rem; 
}

.pure-menu-link:hover {
    color: #fff;       
}

/*Menu Dropdowns*/
.pure-menu-children {
    background: #fff;
    border: 1px solid #ddd;
}

.pure-menu-children .pure-menu-link {
    color: #314478;
}

.pure-menu-children {
    background: #f0f4ff;
}

/* Main Content */
.main-content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.pure-menu-link:hover,
.pure-menu-link:focus {
    color: #fff;               /* only text color changes */
    background: transparent !important; /* remove PureCSS hover bg */
}