/* ====== DARK THEME VARIABLES ====== */
:root {
  /* Base */
  --color-border: #0e3260;

  /* Nav Bar */
  --color-nav: #16202d;
  /* Text */
  --color-text-primary: #9cb6cd;
  --color-text-secondary: #3968a1;
  --color-text-tertiary: #da5b5b;  /*Hover*/ 
  --color-text-muted: #a5abb8;
  --button-text: whitesmoke;
  --cards: #3233663b;
  --hover-red:#da5b5b;
}
