{% extends "base.html" %}

{% block title %}Welcome to ClashPoint{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">

<div class="parent-container">
    <form action="/new_clash" method="POST" class="pure-form pure-form-stacked">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="">
        <label for="description">Description</label>
        <input type="textarea" name="description" id="description">
        <label for="tags">Choose a tag:</label>
        <select id="tags" name="tags" multiple>
            <option value="soccer">soccer</option>
            <option value="football">football</option>
            <option value="golf">golf</option>
        </select>


        <label for="close_date">How long do you want to keep it open for?</label>
        <input type="date" name="close_date" id="close_date">
        <button type="submit" class="pure-button pure-button-primary">Create</button>
        <a href="{{ url_for('index') }}" class="pure-button pure-button-primary">Cancel</a>
        
    </form>
</div>

{% endblock %}